#info {
    margin-left: 2rem;
    margin-right: 2rem;
}

#info li {
    list-style-type: none;
    text-align: right;
    font-size: 1.25rem;
}

#working-hours {
    text-align: left;
    font-weight: bold;
}

.extra-info p {
    text-align: center;
    font-size: 2rem;
}

.extra-info strong {
    font-size: 2rem;
    color: var(--color4);
}

.extra-info a {
    text-decoration: none;
}

/* gallary2 */
.gallery2 {
    display: none;
    position: relative;
}