#home {
    margin-top: 3rem;
}

.gallery {
    display: none;
    position: relative;
}

.arrow-button {
    cursor: pointer;
    width: auto;
    color: var(--color7);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0 .3rem .3rem 0;
    user-select: none;
    -webkit-user-select: none;
}

.previous {
    position: absolute;
    top: 45%;
    width: 10%;
    height: 35%;
    left: .5rem;
}

.next {
    position: absolute;
    top: 45%;
    width: 10%;
    height: 35%;
    right: .5rem;
}

.previous:hover,
.next:hover {
    opacity: .77;
}