#home {
    margin-top: 2.5rem;
    /* display: flex;
    width: 80%;
    height: 20rem;
    height: auto;
    color: red; */
}

.gallery {
    display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /* margin-top: -50px; */
  color: var(--color7);
  font-weight: bold;
  font-size: 1rem;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 9rem;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 9rem;
}

.prev:hover,
.next:hover {
    opacity: .77;
}