@font-face {
    font-family: Caveat;
    src: url("../fonts/Caveat-Regular.ttf");
}

@font-face {
    font-family: Caveat;
    src: url("../fonts/Caveat-Bold.ttf");
    font-weight: bold;
}

:root {
    --color1: #FFCE45;
    --color2: #D4AC2B;
    --color3: #B05E27;
    --color4: #7E370C;
    --color5: gold;
    --color6: black;
    --color7: white;
    --color8: golderon;
}

* {
    font-family: Caveat;
    font-size: 18px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color6);
    color: var(--color7);
}

.container {
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-mobile {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    border-top: .1rem solid var(--color5);
}

.border {
    border: .15rem solid var(--color4);
}

img {
    width: 100%;
}

/* tablet */
@media (min-width: 600px) {
    * {
        font-size: 24px;
    }

    nav ul li {
        padding-right: .5rem;
    }
}

/* ? */
@media (min-width: 800px) {
    * {
        font-size: 32px;
    }

    nav ul li {
        padding-right: 1rem;
    }
}

/* todo */
/* nav full name */
/* masters in 1 line */
/* about us */

/* pc */
@media (min-width: 1000px) {
    * {
        font-size: 42px;
    }

    nav ul li {
        padding-right: 1.5rem;
    }
}

/* needs testing */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
-ms-overflow-style: none;
scrollbar-width: none; /* Firefox */
}