@font-face {
    font-family: Noto;
    src: url("../fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: Noto;
    src: url("../fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}

:root {
    --color1: #FFCE45;
    --color2: #D4AC2B;
    --color3: #B05E27;
    --color4: #7E370C;
    --color5: gold;
    --color6: black;
    --color7: white;
    --color8: golderon;
}

* {
    font-family: Noto;
    font-size: 14px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color6);
    color: var(--color7);
}

.container {
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-mobile {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    border-top: .1rem solid var(--color5);
}

.border {
    border: .15rem solid var(--color4);
}

img {
    width: 100%;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

#rest-name {
    display: none;
}

.map-tablet {
    display: none;
}

/* todo */
/* nav full name */
/* masters in 1 line */
/* about us */

/* tablet */
@media (min-width: 400px) and (max-width: 600px) {
    * {
        font-size: 18px;
    }
}

@media (min-width: 601px) and (max-width: 999px) {
    * {
        font-size: 22px;
    }
}

/* pc */
@media (min-width: 1000px) {
    * {
        font-size: 24px;
    }

    #rest-name {
        display: inline;
    }

    nav ul li {
        padding-right: 1.5rem;
    }

    .masters-mobile {
        display: flex;
        margin: auto;
        width: 80%;
        height: auto;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 5rem;
    }

    .map-tablet {
        display: block;
    }
}