.price-table {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.price-table tr {
    text-align: center;
}

.price-table th {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    color: var(--color5);
}

.price-table th, td {
    padding-right: .5rem;
    padding-bottom: .5rem;
}

.price-table td {
    font-size: 1rem;
}