@font-face {
    font-family: PatrickHand;
    src: url("../fonts/PatrickHand-Regular.ttf");
}

:root {
    --color-text-primary: #1F62AD;
    --color-text-secondary: #C29D4D;
    --color-text-shadow: #BDBDBD; 

    --color-background-primary: #C29D4D;
    --color-background-secondary: #1F62AD;
}

* {
    margin: 0;
    padding: 0;

    font-family: PatrickHand;
    font-size: 24px;
    /* text-shadow: .025rem .025rem var(--color-text-shadow); */

    box-sizing: border-box;
}

body {
    background-image: url("../images/backgrounds/sky-minified.png");
    background-repeat: repeat-x;
    background-size: auto 0 contain;
    background-color: var(--color-background-primary);
}

h1 {
    font-size: 72px;
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* logo */
#logo {
    width: 64px;
    height: 64px;
}

/* progress-bar */
#progress-container {
    position: fixed;
    width: 100%;
    height: .5rem;
    background-color: transparent;
}

#progress-bar {
    height: .3rem;
    width: 0%;
    background-color: var(--color-background-primary);
}

/* navbar */
.nav-link {
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 18px;
    }

    h1 {
        font-size: 48px;
    }

    .navbar {
        background-color: rgba(0, 0, 0, .75);
    }
}

/* container-grass */
.container-grass {
    background-image: url("../images/backgrounds/grass-minified.png");
    background-size: repeat;
}

/* roadmap */
#roadmap li {
    text-shadow: .01rem .01rem var(--color-text-shadow);
}

/* showcase */
#container-showcase {
    overflow: hidden;
}

#infinite-scroll-container:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.showcase-image:hover {
    opacity: 0.77;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -o-transform: scale(1.015);
    transform: scale(1.015);
    animation: jiggle .5s infinite linear;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #infinite-scroll-container {
        animation: slide-lg 20s linear infinite;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #infinite-scroll-container {
        animation: slide-md 25s linear infinite;
    }
}

@media screen and (max-width: 767px) {
    #infinite-scroll-container {
        animation: slide-sm 30s linear infinite;
    }
}

@media screen and (min-width: 1200px) {
    #infinite-scroll-container {
        animation: slide 15s linear infinite;
    }
}

@keyframes slide-sm {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-600%, 0, 0);
    }
}

@keyframes slide-md {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-250%, 0, 0);
    }
}

@keyframes slide-lg {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-135%, 0, 0);
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-75%, 0, 0);
    }
}

/* jiggle */
@keyframes jiggle {
    0% {
        transform: rotate(0deg) scale(1.05, 1.05);
    }

    50% {
        transform: rotate(1deg) scale(1.05, 1.05);
    }

    100% {
        transform: rotate(-1deg) scale(1.05, 1.05);
    }
}

/* team-members */
.card-title {
    font-size: xx-large;
}

.card-text {
    font-size: large;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);

    animation: jiggle .5s infinite linear;

    opacity: 0.8;
}

.card-img-top:hover {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;

    margin: .075rem;

    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}

/* faq */
