::-webkit-scrollbar {
    width: .0001rem;
}

::-webkit-scrollbar-track {
    background: var(--color1);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color3);
}